@import url("https://fonts.googleapis.com/css?family=Courier Prime");
body{
  overflow-x: hidden;
  font-family: "Babylonica", cursive;
}
#body{
    position: relative;
    height: 3000px;
    background: newColor2;  overflow-x: hidden;
}
.video-container{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

 iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.grid-container{
  display: grid;
  position: absolute;
  color: #FFFFFF;
  width: 50vw;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
  text-align: center;
  font-size: 2em;

}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
a.home
{text-decoration: none;
color: black;}
a {text-decoration: none;
  color: #FFFFFF;
}
.grid-item:hover {
font-style: italic;
color: inherit;
}


.button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  width: 50%;
  position: absolute;
  transition: all 8s ease-in-out;
  text-shadow:0px 0px 0px #fff, 0px 0px 0px #ccc;
  font-family: "Courier Prime", monospace;
  font-style: italic;
  font-size: .5em;
  }

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 300ms;
  font-size: 30px;
  text-decoration: none;
  color: #00000;
}
.popup .close:hover {

}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.gifting-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width: 177.78vh;
  }
}

#progress-bar {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(190,205,255,1) 39%, rgba(0,147,7,1) 65%);
    height: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#p {
  position: relative;
  font-family: "Beth Ellen", sans-serif;
  background: gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p4u-page img{
    width: 100%;
  border-radius: 5%;
  display: block;
margin-left: auto;
margin-right: auto;
}
.p4u-page {
  margin: auto;
    padding: 10px;
    text-align: center;
border: 1px solid gradient;
    font-size: 50px;

}

.sw-page {
  width: 100%;
  overflow: hidden;
  position:relative;
    font-family: serif;
    font-size: 12px;
    line-height: 1.5;
}

.sw-page-1-container{
  width: 15%;
  float: left;
  overflow: hidden;
  position: fixed;
}

.sw-page-2-container {
  width: 80%;
  float: right;
  overflow: hidden;
  padding: 3%;
}

.sw-page-2-info{
  width: 30%;
  float: left;
  overflow: hidden;
  position: relative;
}

.sw-page-2-images{
  width: 65%;
  float: left;
  overflow: hidden;
  margin-left: 2.5%;
}
.sw-page-1-intro{
  margin-left: 2.5%;
}
img {
    max-width: 100%;
    height: auto;
}
.sw-page-2-images--1{
  width: 48%;
  float: left;
  overflow: hidden;
}
.sw-page-2-images--2{
  width: 48%;
  float: right;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .sw-page{
  flex-direction:column;
  }
  .sw-page-1-container{
    width:250px;
    position: relative;
  }
  .sw-page-2-container{
    width:300px;
    flex-direction:column;
    float: left;
  }
  .sw-page-2-info{
    width:300px;
    }
  .sw-page-2-images{
      width:300px;
    }


}
