body {
  padding: 0;
  width:100%;
  font-size: 12px;
  line-height: 1.5;
  background-color: white;
  font-family: serif;
  color: black;
}
.sw-page {
  width: 100%;
  overflow: hidden;
  position:relative;
}

.sw-page-1-container{
  width: 15%;
  float: left;
  overflow: hidden;
  position: fixed;
}

.sw-page-2-container {
  width: 80%;
  float: right;
  overflow: hidden;
  padding: 3%;
}

.sw-page-2-info{
  width: 30%;
  float: left;
  overflow: hidden;
  position: relative;
}

.sw-page-2-images{
  width: 65%;
  float: left;
  overflow: hidden;
  margin-left: 2.5%;
}
.sw-page-1-intro{
  margin-left: 2.5%;
}
img {
    max-width: 100%;
    height: auto;
}
.sw-page-2-images--1{
  width: 48%;
  float: left;
  overflow: hidden;
}
.sw-page-2-images--2{
  width: 48%;
  float: right;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .sw-page{
  flex-direction:column;
  }
  .sw-page-1-container{
    width:250px;
    position: relative;
  }
  .sw-page-2-container{
    width:300px;
    flex-direction:column;
    float: left;
  }
  .sw-page-2-info{
    width:300px;
    }
  .sw-page-2-images{
      width:300px;
    }


}
